# Assignment of Course9 _ Week3_part 1
## Segmenting and Clustering Neighborhoods in Toronto

### 1.Start by creating a new Notebook for this assignment.

### 2.Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [1]:
# scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

import pandas as pd

url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

df=pd.read_html(url,header=0)

df2=df[0]

df2.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### 3. To create the above dataframe:

#### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [2]:
#Ignore cells with a borough that is Not assigned.

df2.rename(columns={ df2.columns[2]: "Neighborhood" }, inplace=True)

df2=df2.astype(str)

df3=df2.loc[df2['Borough']!="Not assigned"]

df3.head()

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [3]:
# Use df.groupby.sum() to combine 'Neighborhood' into one row

df4=df3.drop('Borough', axis=1)
df4['Neighborhood']=df4['Neighborhood'].apply(lambda x:','+ x)
df5=df4.groupby(by='Postcode').sum()
df5['Neighborhood'] = df5['Neighborhood'].apply(lambda x : x[1: ])

# Join the new column 'Borough' from df6
df6=df3.drop('Neighborhood',axis=1)
df7=df5.join(df6.set_index('Postcode'))

# Move 'Borough' before 'Neighborhood'
a=df7.pop('Borough')
df7.insert(0,'Borough', a)
df7.reset_index(inplace=True)
df7.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1B  Scarborough                         Rouge,Malvern
2      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
3      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
4      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [4]:
for x in range(df7.shape[0]):
    if df7.iloc[x,2]=='Not assigned':
        df7.iloc[x,2]=df7.iloc[x,1]
        
# Delete duplicates

df7.drop_duplicates(keep='first', inplace=True)

# save df7 to df_toronto.csv
df7.to_csv('df_toronto.csv', index=False)
df7.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
2      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
5      M1E  Scarborough       Guildwood,Morningside,West Hill
8      M1G  Scarborough                                Woburn
9      M1H  Scarborough                             Cedarbrae

#### Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
#### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [5]:
print("The number of rows of df7 : ", df7.shape[0])

The number of rows of df7 :  103