In [3]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [48]:
# load data of Midian Household Income by Broughs in New York City 

df_Binc1=pd.read_csv('ACS_17_5YR_S1901.csv')
df_Binc1

from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = 'https://ny.curbed.com/2017/8/4/16099252/new-york-neighborhood-affordability'
html = urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, "html.parser")

In [24]:
# Household_income_By_Neighborhoods_NYC
df_inc0=pd.read_csv('Household_income_By_Neighborhoods_NYC.csv')

df_inc0=df_inc[['Neighborhoods','Borough','Median Household Income']]
df_inc0.head()

,Neighborhoods,Borough,Median Household Income
0,Queensbridge-Ravenswood-Long Island City,Queens,28378.0
1,Williamsburg,Brooklyn,21502.0
2,Lower East Side,Manhattan,31273.0
3,Mott Haven-Port Morris,Bronx,20334.0
4,East Harlem North,Manhattan,26099.0

# Clean data
df_inc0['Median Household Income']=df_inc0['Median Household Income'].str.replace('$','')
df_inc0['Median Household Income']=df_inc0['Median Household Income'].str.replace(',','').astype(float)

df_inc0.head()

In [25]:
type(df_inc0['Median Household Income'][2])

numpy.float64

In [26]:
# Split 'Neighborhoods' into more Rows

df_inc1=df_inc0['Neighborhoods'].str.split('-', expand=True).stack()
df_inc1=df_inc1.reset_index(level=1,drop=True).rename('Neighborhoods')

# Join df_inc2 and df_inc!

df_inc2=df_inc0.drop('Neighborhoods', axis=1)
df_inc=df_inc2.join(df_inc1)

print('Rows after str.split: ', df_inc.shape[0])
df_inc.head()

Rows after str.split:  212

     Borough  Median Household Income     Neighborhoods
0     Queens                  28378.0      Queensbridge
0     Queens                  28378.0        Ravenswood
0     Queens                  28378.0  Long Island City
1   Brooklyn                  21502.0      Williamsburg
2  Manhattan                  31273.0   Lower East Side