In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [3]:
# Load data from df_res.csv
df_res=pd.read_csv('df_res.csv')
df_res.head()

,Restaurant name,Neighborhood,Borough,Median Household Income,Neighborhood Latitude,Neighborhood Longitude,Pop./km2,Venue Category,Venue Latitude,Venue Longitude,Competitors
0,White Castle_0,Allerton,Bronx,37816.894737,40.865788,-73.859319,12149.0,Fast Food Restaurant,40.866065,-73.862307,4
1,Li's Kitchen_1,Allerton,Bronx,37816.894737,40.865788,-73.859319,12149.0,Chinese Restaurant,40.863566,-73.858372,4
2,Chef King_2,Allerton,Bronx,37816.894737,40.865788,-73.859319,12149.0,Chinese Restaurant,40.865561,-73.856752,4
3,Internacional Restaurant & Deli_3,Allerton,Bronx,37816.894737,40.865788,-73.859319,12149.0,Spanish Restaurant,40.863809,-73.856640,4
4,Il Sogno_762,Annadale,Staten Island,66764.200000,40.538114,-74.178549,2593.0,Restaurant,40.541286,-74.178489,1